/* .new-file-form{   */
	/* background-color: #9797f972; /* semi-transparent background */
	/* border: 3px solid #9797f9; */
	/* border-radius: 4px; */
	/* padding: 20px; */
	/* text-align: left; */ 
/* } */
.new-file-form{
	border: 2px dashed #517664;
	background-color: #5c86713e;
	color: #E3DBDB;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	border-radius:5px;
}

.form-buttons{
	display: flex;
	flex-direction: row;
	gap: 3px;
}
input[type="file"]{
	width: calc(100%);
	font-family: Tahoma, sans-serif;
	font-size: 14px;
}
input[type="file"]:hover{
	background-color: #8f90b913;
	cursor:pointer;
	border-radius:4px;
}
input[type="file"]::file-selector-button {
	border-radius: 4px;
	height: 70px;
	background-repeat: no-repeat;
	background-image: url("../../../public/upload.svg");
	background-position:35%;
	border: none;
	color: transparent;
	background-color: transparent;
	
}

label, input {
	display:block;
	margin-bottom:5px;
}

.newfile-btn{
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	line-height: 2;
	background-color: #517664;
	color: #E3DBDB;
	border-radius: 4px;
	margin-top: 5px;
	padding-left: 20px;
	background-image: url("../../../public/newfile.svg");
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 35%;
}

#upload{
	width: 80px;
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: #8F90B9;
	color: #E3DBDB;
	border-radius: 4px;
	border: none;
}

#cancel{
	width: 80px;
	text-align: center;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: transparent;
	color: #E3DBDB;
	border-radius: 4px;
	border: none;
}
.newfile-btn:hover{
	background-color: #517664a7;
	cursor: pointer;
}

#upload:hover{
	background-color:#8f90b96d;
}

#cancel:hover{
	background-color: #e3dbdb4a;
}
