.top-nav{ grid-area:navbar;}
.side-menu{ grid-area:menu;}
.main-display{grid-area:main;}


.App {
  display:grid;
  grid-template-areas:'menu navbar navbar navbar navbar navbar'
  'menu main main main main main'
  'menu main main main main main'
  'menu main main main main main';
  gap: 0px;
}