side-menu {
	background-color:white;
	height: 850px;
	position: relative;
	width: 256px;
  }
  
  .side-menu .logo {
	height: 68px;
	left: 15px;
	top: 0;
	width: 241px;
  }
  
  .side-menu .my-documents {
	width: 254px;
	margin-left: 2px;
	display: flex;
	flex-direction: column;
	gap: 3px;
  }
  
  .side-menu .file-header {
	height: 36px;
	width: 255px;
  }
  
  .file-header .text-wrapper {
	color: #000000;
	font-family: "Poppins-Regular", Helvetica;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	margin-top:1.5%;
  }
  
  .file {
	display: flex;
	height: 29px;
	justify-content: left;
  }

  .file:hover {
	background-color: rgba(0,0,0,0.2);
  }
  
  .file-icon {
	height: 28px;
	width: 28px;

  }
  
  .file-name {
	display:flex;
	align-items: center;
  }
  
  .file-name .text-wrapper{
	color: #000000;
	font-family: "Poppins-Regular", Helvetica;
	font-size: 12px;
	font-weight: 400;
	max-width:30ch;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  .logo {
	align-items: center;
	background-color: #1e2c5d;
	display: flex;
	gap: 22px;
	height: 60px;
	justify-content: center; 
	position: relative;
	width: 237px;
  }
  
  .logo .text-wrapper {
	color: #f99797;
	font-family: "Inter-Regular", Helvetica;
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	margin-left: -8.5px;
	margin-right: -8.5px;
	position: relative;
	text-align: center;
	width: fit-content;
  }

  .main-display {
	height: 790px;
	position: relative;
	width: 1181px;
	align-items: center;
	display: flex;
	flex-direction:column;
	gap: 15px;
	margin-top: 10px;
  }

  .main-display .title {
	color: black;
	font-family: "Poppins-Regular", Helvetica;
	font-size: 30px;
	font-weight: 400;
	max-width:40ch;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  .main-display .original {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	position: relative;
  }
  
  .main-display .text-wrapper {
	color: #000000;
	font-family: "Poppins-Regular", Helvetica;
	font-size: 24px;
	font-weight: 400;
	height: 39px;
	letter-spacing: 0;
	line-height: normal;
	position: relative;
	width: 233px;
  }
  
  .original-box {
	border: 2px solid #9797f9;
	border-radius:4px;
	height: 362px;
	position: relative;
	width: 1110px;
	font-family: "Poppins-Regular", Helvetica;
	font-size: 16px;
  }

  .summary {
	align-items: flex-start;
	background-color: #ffffff;
	display: inline-flex;
	flex-direction: column;
	position: relative;
  }
  
  .presummary {
	align-items: center;
	background-color: #ffffff;
	display: inline-flex;
	flex-direction: column;
	position: relative;
	gap: 8px;
  }
  
  .summary-box {
	border: 2px solid #9797f9;
	border-radius:4px;
	height:226px;
	width: 1110px;
	font-family: "Poppins-Regular", Helvetica;
	font-size: 16px;
  }

  .summary-box:focus, .original-box:focus{
	outline:none;
	border: 2px solid black;
  }
  textarea{
	resize:none;
  }

  #sum{
	padding: 0px 20px;
	border: none;
	background-color:#c24a05;
	text-align: center;
	font-family: "Poppins-Regular", Helvetica;
	font-size: 20px;
	line-height: 2;
	border-radius: 4px;
	color: white;
  }
  #sum:hover{
	background-color: #c24a0581;
  }

  #vis{
	padding: 0px 20px;
	border: none;
	background-color:#038e36;
	text-align: center;
	font-family: "Poppins-Regular", Helvetica;
	font-size: 20px;
	line-height: 2;
	border-radius: 4px;
	color: white;
  }
  #vis:hover{
	background-color:#038e3681;
  }

 
  


  .top-nav {
	background-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #d5d5d5;
	height: 60px;
	width: 1184px;
  }
  
  .top-nav .profile {
	align-items: center;
	display: flex;
	gap: 14px;
	left: 1232px;
	position: relative;
	top: 10px;
	width: 188px;
  }
  
  .top-nav .text-wrapper {
	color: #000000;
	font-family: "Poppins-Regular", Helvetica;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	position: relative;
	text-align: center;
  }
  
  .top-nav .avatar-main {
	background-image: url('../../public/DefaultPFP.png');
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 58.79px;
	height: 40px;
	position: relative;
	width: 40px;
  }
  
  .top-nav .vector {
	height: 23px;
	position: relative;
	width: 26px;
  }